<div ng-controller="MessageController" id="tt-messenger" ng-cloak>
  <alert type="{{alertType}}" ng-show="userMessage" close="close()">
    <strong ng-show="title">{{title}}&nbsp;</strong>
    {{userMessage}}
  </alert>
</div>

<div 
	ng-cloak 
	id="tt-main-container" 
>
	<div 
		id="tt-main" 
		ng-view
	>
	</div>
</div>

<!-- Hack for ensuring event-based services are instantiated -->
<div ng-controller="LoadServices" style="display:none;" aria-hidden="true"></div>

