		<div class="row no-margin">
			<h4>Basic Account Information Required Before Making a Reservation</h4>
		</div>
			<div class="row">
				<div class="col-md-4">
					<span>First Name*</span>
				</div>
				<div class="col-md-8">
					<input name="fName"
						class="form-control" ng-model="customer.fName"
					>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-4">
					<span>Last Name*</span>
				</div>
				<div class="col-md-8">
					<input name="lName"
						class="form-control" ng-model="customer.lName"
					>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-4">
					<span>Phone*</span>
				</div>
				<div class="col-md-8">
					<input name="phone"
						class="form-control" ng-model="customer.phone"
					>
				</div>
			</div>
			<br/>
		<div class="row no-margin">
			<h4>Where should we send your championship tickets?</h4>
		</div>
			<div class="row">
				<div class="col-md-4">
					<span>Mailing Address*</span>
				</div>
				<div class="col-md-8">
					<input name="address"
						class="form-control" ng-model="customer.address"
					>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-4">
					<span>City*</span>
				</div>
				<div class="col-md-8">
					<input name="city"
						class="form-control" ng-model="customer.city"
					>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-4">
					<span>State*</span>
				</div>
				<div class="col-md-8">
					<input name="state"
						class="form-control" ng-model="customer.state"
					>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-4">
					<span>Zip*</span>
				</div>
				<div class="col-md-8">
					<input name="zip"
						class="form-control" ng-model="customer.zip"
					>
				</div>
			</div>
			<br/>
