<ul id="fms-modules-grid" ng-cloak ng-show="bigScreen">
	<div class="row" style="padding-bottom: 80px">
		<div class="col-md-12">
			<div class="row" id="aboutMain">
				<div class="col-md-6 col-md-offset-3 contentGreyBg">
					<div class="row" id="aboutStoryHead">
						<span class="aboutHead">
							Tickets Tycoon, Inc.
						</span>
					</div>
					<div class="row" id="aboutStoryBody" manage-height style="text-align: left!important;">
						<span class="aboutBasic">
							If you have any questions about this service, our
							affiliate program or partnership opportunities,
							or any questions regarding your account, please 
							contact us.<br/><br/>
							Email: Info@TicketsTycoon.com
						</span>
					</div>
				</div>
			</div>
    </div>
  </div>
</ul>

<ul id="fms-modules-grid" ng-cloak ng-show="!bigScreen">
	<div class="row" style="padding-bottom: 80px">
		<div class="col-sm-12 col-xs-12">
			<div class="row" id="aboutMain">
				<div class="contentGreyBgSm">
					<div class="row" id="aboutStoryHead">
						<span class="aboutHead">
							Tickets Tycoon, Inc.
						</span>
					</div>
					<div class="row">
						<div 
							class="col-sm-10 col-xs-10 col-sm-offset-1 col-xs-offset-1"
							style="text-align: left!important;"
						>
							<span class="aboutBasic">
								If you have any questions about this service, our
								affiliate program or partnership opportunities,
								or any questions regarding your account, please 
								contact us.<br/><br/>
								Email: Info@TicketsTycoon.com
							</span>
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
</ul>
