<div class="modal-header">
	<button type="button" class="close pull-right" ng-click="$close('discard')">x</button>
  <h3 class="modal-title" id="nav-away-modal-title">
		Limited Use
	</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<span>
				The team names shown on the TicketsTycoon.com website 
				are not affiliated with Tickets Tycoon, Inc. The use 
				of their names does not constitute an endorsement of 
				Tickets Tycoon, Inc. products or services. Tickets 
				Tycoon, Inc. similarly isn’t endorsed or sponsored by 
				any professional major league organizations, nor 
				should the limited use of any trademark or logo be 
				construed as such.
			</span>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary pull-left" ng-click="$close('discard')">
    <i class="fa fa-thumbs-o-up"></i> &nbsp; Got It!
  </button>
</div>
