<div class="hr_wide">
	<div id="tt-menu">
		<div 
			id="menuDisplay" 
			class="menuDisplay"
		>
			<span 
				class="footerLinkRed"
				style="left: 8px; position: relative;"
			>
				Chess Wars!
			</span>
			<span 
				class="footerLinkRed pull-right"
			>
				Your Destination for Cash Stakes 1 vs 1 and Tournament Chess
			</span>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row" id="homeMain">
			<div 
				class="contentGreyBg"
				style="top: 8px;"
			>
				<ng-include src="'/templates/lobby.html'"></ng-include>
			</div>
		</div>
	</div>
</div>
