<div class="hr_wide">
	<div id="tt-menu">
		<div 
			id="menuDisplay" 
			class="menuDisplay"
		>
			<span 
				class="footerLinkRed"
				style="left: 8px; position: relative;"
			>
				The MEAN Team!
			</span>
			<span 
				class="footerLinkRed pull-right"
			>
				Delivering Mongo, Express, Angular and Node Experts!
			</span>
			<span 
				id="job"
			>
				Jon A. Barrett
			</span>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row" id="homeMain">
			<div 
				class="contentGreyBg"
				style="top: 8px;"
			>
				<ng-include src="'/templates/mt_others.html'"></ng-include>
			</div>
		</div>
	</div>
</div>
