															<div 
																class="row"
																ng-show="legShow == 8"
																ng-repeat="(idx, entry) in wagerRunners[7]"
															>
																<div class="col-md-2">
																	<input 
																		type="checkbox"
																		ng-model="leg8Runners[idx]"
																		ng-true-value="{{entry.number}}"
																		ng-false-value="false"
																		ng-change="updateSelectedRunnersDisplay()"
																		ng-disabled="!entry.active"
																		ng-show="!race.closed"
																	>
																</div>
																<entries entry="entry"></entries>
															</div>
