				<div>
					<!--  

					https://docs.angularjs.org/api/ng/directive/ngShow
					https://docs.angularjs.org/api/ng/directive/ngIf

					-->


																																
					
					<div class="container">
						<div class="row">
							<div 
								class="col-md-2 col-md-offset-2 beccaTab"
							>
								<span 
									class="Head's Up"
									ng-click="showHeadsUp()"
								>
									Head's Up
								</span>
							</div>
							<div 
								class="col-md-2 beccaTab"
							>
								<span 
									class="Tournaments"
									ng-click="showTournaments()"
								>
									Tournaments
								</span>
							</div>	
						</div>
						<div class="row">
							<div 
								class="col-md-6 col-md-offset-2"
								ng-show="headsUpShow"
							>
								Head's Up Called
							</div>
							<div 
								class="col-md-6 col-md-offset-2"
								ng-show="tournamentsShow"
							>
								Tournaments Called
							</div>
						</div>
					</div>
				</div>
