<div id="orderDetailsContainer" style="padding-bottom: 80px">
	<div class="col-md-12 page-header" ng-cloak>
		<div class="row">
			<div class="col-md-2">
				<span 
					class="orderDetailsDestinationInfo" 
					style="font-size: 16px; font-weight: bold;"
				>
					{{customer.fName}} {{customer.lName}}<br/>
				</span>
				<span 
					class="orderDetailsDestinationInfo"
				>
					{{customer.phone}}<br/>
				</span>
			</div>
			<br/>
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-12">
						<span 
							class="orderDetailsDestinationInfo pull-right"
						>
							{{reservation.date}}
						</span>
						<br/>
						<span 
							class="orderDetailsDestinationInfo"
						>
							${{reservation.total}}
						</span>
					</div>
				</div>
			</div>
			<br/>
		</div>
	</div>
</div>
