<div class="col-md-12" ng-show="bigScreen">
	<div class="row" id="homeMain">
		<div 
			class="contentGreyBg"
			style="top: 8px;"
		>
			<div class="row">
				<div 
					class="col-md-12"
					style="text-align: center;"
				>
				<span class="raceDetailsBigger">{{trdData.name}} Race {{raceNum}} Results <span class="raceDetails">(the <strong>{{favorite}}</strong> was the post time favorite)</span></span>
				</div>
			</div>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-1">
							<span class="raceDetails">
								&nbsp;
							</span>
						</div>
						<div class="col-md-2">
							<span class="raceDetails">
								Entry Number
							</span>
						</div>
						<div class="col-md-2">
							<span class="raceDetails">
								Jockey
							</span>
						</div>
						<div class="col-md-2">
							<span class="raceDetails">
								Win Amount
							</span>
						</div>
						<div class="col-md-2">
							<span class="raceDetails">
								Place Amount
							</span>
						</div>
						<div class="col-md-2">
							<span class="raceDetails">
								Show Amount
							</span>
						</div>
					</div>
					<div class="row" ng-show="show1st">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								1st
							</span>
						</div>
						<div class="col-md-2">
							<input 
								type="text" class="fhdTextInput" 
								ng-model="firstNumber" 
								ng-change="getJockey('first')"
							>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="firstJockey">
						</div>
						<div class="col-md-2">
							<input 
								type="text" class="fhdTextInput" 
								ng-model="firstWinPrice" 
								ng-change="updateExotics('first-firstNumber')"
							>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="firstPlacePrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="firstShowPrice">
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
								style="cursor: pointer;"
								ng-click="show1stFirstTie = true"
							>
								Add
							</span>
						</div>
					</div>
					<div class="row" ng-show="show1stFirstTie">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								1st
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="first1stTieNumber" ng-change="getJockey('first1stTie')">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="first1stTieJockey">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="first1stTieWinPrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="first1stTiePlacePrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="first1stTieShowPrice">
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
								style="cursor: pointer;"
								ng-click="show1stSecondTie = true"
							>
								Add
							</span>
						</div>
					</div>
					<div class="row" ng-show="show1stSecondTie">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								1st
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="first2ndTieNumber" ng-change="getJockey('first2ndTie')">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="first2ndTieJockey">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="first2ndTieWinPrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="first2ndTiePlacePrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="first2ndTieShowPrice">
						</div>
						<div class="col-md-1">
							&nbsp;
						</div>
					</div>
					<div class="row" ng-show="show2nd">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								2nd
							</span>
						</div>
						<div class="col-md-2">
							<input 
								type="text" class="fhdTextInput" 
								ng-model="secondNumber" 
								ng-change="getJockey('second')"
							>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="secondJockey">
						</div>
						<div class="col-md-2 col-md-offset-2">
							<input 
								type="text" class="fhdTextInput" 
								ng-model="secondPlacePrice"
								ng-change="updateExotics('second-secondNumber')"
							>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="secondShowPrice">
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
								style="cursor: pointer;"
								ng-click="show2ndFirstTie = true"
							>
								Add
							</span>
						</div>
					</div>
					<div class="row" ng-show="show2ndFirstTie">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								2nd
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="second1stTieNumber" ng-change="getJockey('second1stTie')">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="second1stTieJockey">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="second1stTieWinPrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="second1stTiePlacePrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="second1stTieShowPrice">
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
								style="cursor: pointer;"
								ng-click="show2ndSecondTie = true"
							>
								Add
							</span>
						</div>
					</div>
					<div class="row" ng-show="show2ndSecondTie">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								2nd
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="second2ndTieNumber" ng-change="getJockey('second2ndTie')">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="second2ndTieJockey">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="second2ndTieWinPrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="second2ndTiePlacePrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="second2ndTieShowPrice">
						</div>
						<div class="col-md-1">
							&nbsp;
						</div>
					</div>
					<div class="row" ng-show="show3rd">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								3rd
							</span>
						</div>
						<div class="col-md-2">
							<input 
								type="text" class="fhdTextInput" 
								ng-model="thirdNumber" 
								ng-change="getJockey('third')"
							>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="thirdJockey">
						</div>
						<div class="col-md-2 col-md-offset-4">
							<input 
								type="text" class="fhdTextInput" 
								ng-model="thirdShowPrice"
								ng-change="updateExotics('third-thirdNumber')"
							>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
								style="cursor: pointer;"
								ng-click="show3rdFirstTie = true"
							>
								Add
							</span>
						</div>
					</div>
					<div class="row" ng-show="show3rdFirstTie">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								3rd
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="third1stTieNumber" ng-change="getJockey('third1stTie')">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="third1stTieJockey">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="third1stTieWinPrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="third1stTiePlacePrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="third1stTieShowPrice">
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
								style="cursor: pointer;"
								ng-click="show3rdSecondTie = true"
							>
								Add
							</span>
						</div>
					</div>
					<div class="row" ng-show="show3rdSecondTie">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								3rd
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="third2ndTieNumber" ng-change="getJockey('third2ndTie')">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="third2ndTieJockey">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="third2ndTieWinPrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="third2ndTiePlacePrice">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="third2ndTieShowPrice">
						</div>
						<div class="col-md-1">
							&nbsp;
						</div>
					</div>
					<div class="row" ng-show="show4th">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								4th
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="fourthNumber" ng-change="getJockey('fourth');updateExotics('fourth-fourthNumber')">
						</div>
						<div class="col-md-2">
							<input 
								type="text" class="fhdTextInput" 
								ng-model="fourthJockey"
							>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
								style="cursor: pointer;"
								ng-click="show4thFirstTie = true"
							>
								Add
							</span>
						</div>
					</div>
					<div class="row" ng-show="show4thFirstTie">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								4th
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="fourth1stTieNumber" ng-change="getJockey('fourth1stTie')">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="fourth1stTieJockey">
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
								style="cursor: pointer;"
								ng-click="show4thSecondTie = true"
							>
								Add
							</span>
						</div>
					</div>
					<div class="row" ng-show="show4thSecondTie">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								4th
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="fourth2ndTieNumber" ng-change="getJockey('fourth2ndTie')">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="fourth2ndTieJockey">
						</div>
						<div class="col-md-1">
							&nbsp;
						</div>
					</div>
					<div class="row" ng-show="show5th">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								5th
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="fifthNumber" ng-change="getJockey('fifth'); updateExotics('fifth-fifthNumber')">
						</div>
						<div class="col-md-2">
							<input 
								type="text" class="fhdTextInput" 
								ng-model="fifthJockey"
							>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
								style="cursor: pointer;"
								ng-click="show5thFirstTie = true"
							>
								Add
							</span>
						</div>
					</div>
					<div class="row" ng-show="show5thFirstTie">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								5th
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="fifth1stTieNumber" ng-change="getJockey('fifth1stTie')">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="fifth1stTieJockey">
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
								style="cursor: pointer;"
								ng-click="show5thSecondTie = true"
							>
								Add
							</span>
						</div>
					</div>
					<div class="row" ng-show="show5thSecondTie">
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								5th
							</span>
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="fifth1stTieNumber" ng-change="getJockey('fifth2ndTie')">
						</div>
						<div class="col-md-2">
							<input type="text" class="fhdTextInput" ng-model="fifth1stTieJockey">
						</div>
						<div class="col-md-1">
							&nbsp;
						</div>
					</div>
					<div class="row" ng-show="showExactaAA">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Exacta
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{exacta}}
							</span>
						</div>
						<div class="col-md-1 col-md-offset-3">
							<input type="text" class="fhdTextInput" ng-model="exactaPrice1Base" placeholder="($1.00 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="exactaPrice2Base" placeholder="($2.00 base)">
						</div>
					</div>
					<div class="row" ng-show="showTrifectaAAA">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Trifecta
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{trifecta}}
							</span>
						</div>
						<div class="col-md-1 col-md-offset-1">
							<input type="text" class="fhdTextInput" ng-model="trifectaPricePoint2Base" placeholder="($.20 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="trifectaPricePoint5Base" placeholder="($.50 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="trifectaPrice1Base" placeholder="($1.00 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="trifectaPrice2Base" placeholder="($2.00 base)">
						</div>
					</div>
					<div class="row" ng-show="showSuperfectaAAAA">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Superfecta
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{superfecta}}
							</span>
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="superfectaPricePoint1Base"  placeholder="($.10 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="superfectaPricePoint2Base"  placeholder="($.20 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="superfectaPricePoint5Base"  placeholder="($.50 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="superfectaPrice1Base"  placeholder="($1.00 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="superfectaPrice2Base"  placeholder="($2.00 base)">
						</div>
					</div>
					<div class="row" ng-show="showPentafectaAAAAA">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Pentafecta
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{pentafecta}}
							</span>
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pentafectaPricePoint1Base" placeholder="($.10 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pentafectaPricePoint2Base" placeholder="($.20 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pentafectaPricePoint5Base" placeholder="($.50 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pentafectaPrice1Base" placeholder="($1.00 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pentafectaPrice2Base" placeholder="($2.00 base)">
						</div>
					</div>
					<div class="row" ng-show="showDailyDouble">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								DD
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{dailyDouble}}
							</span>
						</div>
						<div class="col-md-1 col-md-offset-3">
							<input type="text" class="fhdTextInput" ng-model="dailyDoublePrice1Base" placeholder="($1.00 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="dailyDoublePrice2Base" placeholder="($2.00 base)">
						</div>
					</div>
					<div class="row" ng-show="showPickThree">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Pick 3
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{pick3}}
							</span>
						</div>
						<div class="col-md-1 col-md-offset-1">
							<input type="text" class="fhdTextInput" ng-model="pick3PricePoint2Base" placeholder="($.20 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick3PricePoint5Base" placeholder="($.50 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick3Price1Base" placeholder="($1.00 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick3Price2Base" placeholder="($2.00 base)">
						</div>
					</div>
					<div class="row" ng-show="showPickFour">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Pick 4
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{pick4}}
							</span>
						</div>
						<div class="col-md-1 col-md-offset-1">
							<input type="text" class="fhdTextInput" ng-model="pick4PricePoint2Base" placeholder="($.20 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick4PricePoint5Base" placeholder="($.50 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick4Price1Base" placeholder="($1.00 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick4Price2Base" placeholder="($2.00 base)">
						</div>
					</div>
					<div class="row" ng-show="showPickFive">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Pick 5
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{pick5}}
							</span>
						</div>
						<div class="col-md-1 col-md-offset-1">
							<input type="text" class="fhdTextInput" ng-model="pick5PricePoint2Base" placeholder="($.20 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick5PricePoint5Base" placeholder="($.50 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick5Price1Base" placeholder="($1.00 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick5Price2Base" placeholder="($2.00 base)">
						</div>
					</div>
					<div class="row" ng-show="showPickSix">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Pick 6
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{pick6}}
							</span>
						</div>
						<div class="col-md-1 col-md-offset-1">
							<input type="text" class="fhdTextInput" ng-model="pick6PricePoint2Base" placeholder="($.20 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick6PricePoint5Base" placeholder="($.50 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick6Price1Base" placeholder="($1.00 base)">
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick6Price2Base" placeholder="($2.00 base)">
						</div>
					</div>
					<div class="row" ng-show="showPickSeven">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Pick 7
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{pick7}}
							</span>
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick7Price">
						</div>
						<div class="col-md-2 col-md-offset-1">
							<span class="raceDetails">($2.00 base)</span>
						</div>
					</div>
					<div class="row" ng-show="showPickEight">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Pick 8
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{pick8}}
							</span>
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick8Price">
						</div>
						<div class="col-md-2 col-md-offset-1">
							<span class="raceDetails">($2.00 base)</span>
						</div>
					</div>
					<div class="row" ng-show="showPickNine">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Pick 9
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{pick9}}
							</span>
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick9Price">
						</div>
						<div class="col-md-2 col-md-offset-1">
							<span class="raceDetails">($2.00 base)</span>
						</div>
					</div>
					<div class="row" ng-show="showPickTen">
						<br/>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-right"
							>
								Pick 10
							</span>
						</div>
						<div class="col-md-1">
							<span 
								class="raceDetails pull-left"
							>
								{{pick10}}
							</span>
						</div>
						<div class="col-md-1">
							<input type="text" class="fhdTextInput" ng-model="pick10Price">
						</div>
						<div class="col-md-2 col-md-offset-1">
							<span class="raceDetails">($2.00 base)</span>
						</div>
					</div>
					<br/>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn btn-success pull-right" ng-disabled="false" ng-click="score()">
						<i class="fa fa-plus"></i> &nbsp; Score Race
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-12 col-xs-12" ng-show="!bigScreen">
	<div class="row" id="homeMain">
		<div 
			class="contentGreyBgSm"
		>
		</div>
	</div>
</div>
