<ul id="fms-modules-grid" ng-cloak ng-show="bigScreen">
	<div class="row" style="padding-bottom: 80px">
		<div class="col-md-12">
			<div class="row" id="aboutMain">
				<div class="col-md-6 col-md-offset-3 contentGreyBg">
					<div class="row" id="aboutStoryHead">
						<span class="aboutHead">
							Tickets Tycoon, Inc.
						</span>
					</div>
					<div class="row" id="aboutStoryBody" manage-height style="text-align: left!important">
						<span class="aboutBasic">
							TicketsTycoon.com was born when its founders were sitting 
							in a local sports bar watching the Super Bowl a few years 
							ago and decided to save money for a trip to the big game 
							the following year. They knew prices were expensive, but 
							after a quick Google search, they discovered single 
							tickets were selling for a whopping $4,000 on the secondary 
							market. Frustrated tickets were so pricey and there was no 
							way at the time to secure a ticket price for less, the 
							Tickets Tycoon business model was created. After a few 
							years under development and testing, Tickets Tycoon became 
							the first championship sports ticket reservation site in 
							which fans could reserve a ticket for their favorite team 
							for pennies on the dollar. If a fan’s team goes to the 
							championship game, tickets are sent to that fan so they can 
							attend the game - LIVE! Fans can reserve 1, 2, or 4 tickets 
							for most major sporting events for as little as $50!
						</span>
					</div>
				</div>
			</div>
    </div>
  </div>
</ul>

<ul id="fms-modules-grid" ng-cloak ng-show="!bigScreen">
	<div class="row" style="padding-bottom: 80px">
		<div class="col-sm-12 col-xs-12">
			<div class="row" id="aboutMain">
				<div class="contentGreyBgSm">
					<div class="row" id="aboutStoryHead">
						<span class="aboutHead">
							Tickets Tycoon, Inc.
						</span>
					</div>
					<div class="row">
						<div class="col-sm-11 col-xs-11 col-sm-offset-1 col-xs-offset-1"
							style="text-align: left!important"
						>
							<span class="aboutBasic">
								TicketsTycoon.com was born when its founders were sitting 
								in a local sports bar watching the Super Bowl a few years 
								ago and decided to save money for a trip to the big game 
								the following year. They knew prices were expensive, but 
								after a quick Google search, they discovered single 
								tickets were selling for a whopping $4,000 on the secondary 
								market. Frustrated tickets were so pricey and there was no 
								way at the time to secure a ticket price for less, the 
								Tickets Tycoon business model was created. After a few 
								years under development and testing, Tickets Tycoon became 
								the first championship sports ticket reservation site in 
								which fans could reserve a ticket for their favorite team 
								for pennies on the dollar. If a fan’s team goes to the 
								championship game, tickets are sent to that fan so they can 
								attend the game - LIVE! Fans can reserve 1, 2, or 4 tickets 
								for most major sporting events for as little as $50!
							</span>
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
</ul>
