<div class="modal-header">
	<button type="button" class="close pull-right" ng-click="$close('discard')">x</button>
  <h3 class="modal-title" id="nav-away-modal-title">
		Tickets Tycoon is the BEST Way to Attend the Championship and Watch <u>YOUR</u> Team Play!
	</h3>
</div>
<div class="modal-body">
	<form name="createAccountForm">
		<div class="row">
			<div class="col-md-12">
				<h4>It's Fun and Easy:</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-8">
						<span class="text-muted">
							<strong>Step 1:</strong> Reserve Tickets for Your Team!
							<br/>
							<br/>
							Browse through the reservation options for all major sporting events to find your favorite teams and then reserve your tickets for just pennies on the dollar!
						</span>
					</div>
					<div class="col-md-4">
						<img src="/images/reserving_tickets.jpg" class="img-responsive">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-8">
						<span class="text-muted">
							<strong>Step 2:</strong> Cheer Your Team to the Championship!
							<br/>
							<br/>
							Root for your favorite teams as they battle to the championship - once they qualify, you buy the tickets for just $1.00 each!
						</span>
					</div>
					<div class="col-md-4">
						<img src="/images/cheering_for_team_a.png" class="img-responsive">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-8">
						<span class="text-muted">
							<strong>Step 3:</strong> Watch Your Team Play in the Championship, LIVE!
							<br/>
							<br/>
							You've done the hard work, now enjoy the reward of watching your team compete for all the marbles in person!
						</span>
					</div>
					<div class="col-md-4">
						<img src="/images/attending_the_championship.png" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary pull-left" ng-click="$close('discard')">
    <i class="fa fa-ticket"></i> &nbsp; Reserve Tickets for Your Team Now!
  </button>
</div>
